.buttons{
    color: antiquewhite;

}
.edit{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.edit >button{
    width: 150px;
    border-radius: 20px;
}
.edit >button:active{
    color: blue;
}
