.caro{
    color: rgb(233, 245, 231);
    width: 100%;
    justify-content: center;  

}
.resize{
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.resize >img{
    width: 100%;
    height: 800px;
}

.captions{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border: solid black;
    width: 500px;
    margin-bottom: 20%;
   
}